/* translate ფუნქცია გადააადგილებს ელემენტებს პიქსელებიტ
როგორ აკეთებს:  იღებს ორ ან სამ მნიშვნელობას რაც შეიძლება იყოს პიქსელები ან სხვა საზომ ერთეული და ის გადაადგილებს მას
transform: translate(50px, 100px); გადაადგილებს ელემენტს 50 პიქსელით მარჯვნივ და 100 პიქსელით ქვევით.

*/


/* 
scale ზრდის ან ამცირებს ელემენტის ზომას მის სიგრძესა და სიმაღლეზე ანუ ზუმავს და ზომა იგივე რჩება



 */


 /* 
 rotate-ში ვიღებთ ერთ წერტილს და შემდეგ მივუთითებთ საით უნდა გადაბრუნდეს და როგორ
 transform: rotate(45deg); ელემენტს 45 გრადუსით ატრიალებს საათის ისრის მიმართულებით.


  */



  /*
  transform ატარებს ცვლილებებს ელემენტის პოზიციაში ზომაში ან ბრუნვაში ცვლის ვიზუალურად
  

   */


   /*
    transition გვეხმარება ელემენტის თვისებების შეცვლის პროცესში ეფექტური და თანდათანობითი ანიმაციების გამოყენებით

    */


/* 
opacity განსაზღვრავს ელემენტის გამჭვირვალობას.


 */
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

 .box {
    width: 500px;
    height: 500px;
    background-color: red;
    border-radius: 0; /* საწყის მდგომარეობაში არის კვადრატი */
    transition: transform 0.5s, border-radius 0.5s;
  }

  .box:hover {
    transform: translate(50px) rotate(90deg) scale(0.5); /* მოძრაობს მარჯვნივ, ბრუნავს და მცირდება ზომაში */
    border-radius: 50%; /* ხდება წრე */
  }